[Desktop Entry]
Encoding=UTF-8
Name=VKC
Comment=VKC P2P Cryptocurrency
Exec=vkc-qt %u
Terminal=false
Type=Application
Icon=vkc128
MimeType=x-scheme-handler/vkc;
Categories=Office;Finance;
Name[ru]=vkc-qt.desktop.desktop
