depends/work/
depends/sources/
depends/x86_64-w64-mingw32/
depends/x86_64-pc-linux-gnu/
depends/built/
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/nwo
src/nwod
src/nwo-cli
src/nwo-tx
src/test/test_nwo
src/qt/test/test_nwo-qt
src/bench/bench_nwo

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/nwo-config.h
src/config/nwo-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.nwo
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
nwo-qt
NWO-Qt.app

# Unit-tests
Makefile.test
nwo-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_nwo.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.vscode
.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
libuccconsensus.pc
src/qt/nwo-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
nwo-cli
nwod
nwo-qt
make

#development local files
configure.local

*/build-aux/*
src/Makefile

contrib/devtools/split-debug.sh

# Qt creator
*.pro.user
Makefile.am.user

#Netbeans
nbproject

.vs/BaseSource/v16/.suo

.vs/BaseSource/v16/Browse.VC.db

.vs/BaseSource/v16/Browse.VC.db-shm

.vs/BaseSource/v16/Browse.VC.db-wal

.vs/BaseSource/v16/Browse.VC.opendb

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/BaseSource/v16/ipch/AutoPCH/144186ae90e3f7b3/VERSION_SET_TEST.ipch

.vs/BaseSource/v16/ipch/AutoPCH/1de7d4f695e627ad/HISTOGRAM.ipch

.vs/BaseSource/v16/ipch/AutoPCH/2558acaa78a98f66/DB_BENCH.ipch

.vs/BaseSource/v16/ipch/AutoPCH/34f78a27fefd8505/SKIPLIST_TEST.ipch

.vs/BaseSource/v16/ipch/AutoPCH/4def099867cdd137/NET.ipch

.vs/BaseSource/v16/ipch/AutoPCH/7afb765287185d50/DB_BENCH_SQLITE3.ipch

.vs/BaseSource/v16/ipch/AutoPCH/7d5a222be3125903/OVERVIEWPAGE.ipch

.vs/BaseSource/v16/ipch/AutoPCH/9bbf99b5d5b828a6/RPCWALLET.ipch

.vs/BaseSource/v16/ipch/AutoPCH/a79c3ddfaddc75c6/DB_BENCH_TREE_DB.ipch

.vs/BaseSource/v16/ipch/AutoPCH/c427a25f4c629467/CORRUPTION_TEST.ipch

.vs/BaseSource/v16/ipch/AutoPCH/ec67463be15f2df8/INIT.ipch
